@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black url('../imagens/fundo-madeira.jpg') top center no-repeat fixed;
    background-size: cover;
}

div#iphone > img {
    display: block;
    margin: auto;
    vertical-align: middle;
}